<p id="notice"><%= notice %></p>

<h1>Thank you to all our Employees</h1>

<% @employees.each do |employee| %>
    <img src="<%= employee.photo %>" width="200" height="200">
    <br>
  <%= employee.description %>
  <br>

<% end %>

<br>

<%= link_to 'New Employee', new_employee_path %>
