<p id="notice"><%= notice %></p>

<h1>Thanks for playing, everyone! </h1>

<% @employees.each do |employee| %>
    <img src="<%= employee.photo %>" width="200" height="200">  <h3> <%= employee.description %> </h3>
  <br>
<% end %>

