/* Empty. Add your own CSS if you like */

span {
  margin-right: 20px;
}

.scroll {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.range-search {
  font-weight: bold;
  text-align: center;
}

.search-title {
  color: gray;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}


