/* Empty. Add your own CSS if you like */
span {
  margin-right: 20px;
}

.scroll {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.login {
    background: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
