/* Empty. Add your own CSS if you like */

span {
  margin-right: 20px;
}

.scroll {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.range-search {
  margin-right:5px;
  font-weight: bold;
  text-align: center;
}

.search-title {
  color: #8A8A8A;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}

.search-item {
  font-size: 14px;
  color: #5D5D5D;
  font-weight: bold;
}

.search-box {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-image {
  height: 250px;
  background-color: white;
  border: 1px solid black;
}

.home-image2 {
  height: 250px;
  background-color: white;
  border: 1px solid black;
}
