
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An Appointment has been booked!</h1>
    <p>
      Someone loves your business and just COULDN'T wait to get in!<br>
    </p>
    <p>
      The appointment slot at  with  has been booked!<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
