
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>An Appointment has been booked!</h2>
    <p>
      Someone loves your business and just COULDN'T wait to get in!<br>
    </p>
    <p>
      The appointment slot on <%= date %> at<%= appointment.strftime("%l:%M %P") %> with <%=employee %> has been booked!<br>
    </p>
    <p><strong><i>Thanks for using Seatd!</i></strong></p>
  </body>
</html>

