/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Rubik+One');

/*
html, body {
  background: #f48d7d;
}*/


.title-container {
  background: #f48d7d;
  text-align: center;
}

.title-container p {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -40px;
  padding-bottom: 40px;
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
}


.main-container {
  text-align: left;
  padding: 30px;
}

.main-container h1 {
  font-family: 'Lobster', cursive;
  font-size: 34px;
  color: black;
}
/*.main-container img {
  display: flex;
  justify-content: center;
}*/

.container {
  overflow-y:auto;
  overflow-x:hidden;
  height:400px;
  width: 90%;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.nav-container {
  position: relative;
  margin-top: -30px;
  width: 100%;
  padding-bottom: 30px;
  padding-left: 20px
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

th {
  padding: 10px;
  text-align: left;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}



