
  <ion-view class="main-background" view-title="Businesses">
    <ion-content class="padding">
      <div class="list card business-container" ng-repeat="business in displayedBusinesses">
        <div class="item item-icon-left item-divider item-dark">
          <i class="icon ion-planet"></i>
          {{business.business_name}}
        </div>
        <div class="item item-body item-stable">
          <div>
            <p>{{business.address}}</p>
            <a href="#/app/businesses/{{business.id}}">book appointment</a>
            <span>{{'Opens at 9am'}}</span><span>{{'Closes at 6pm'}}</span>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>

