<ion-view class="main-background" view-title="business">
  <ion-content class="padding">
<!--     <div class="logo-header">
      <img src="/img/chair2.png" height="150" width="150">
    </div> -->
    <div class="list card">
      <div class="item item-divider business-title-container">
        <p>{{displayedBusiness.business_name}}</p>
      </div>
      <div class="item item-body">
        <div class="business-details">
          <span>{{'Opens at 9am'}}</span><span>{{'Closes at 6pm'}}</span>
          <p>Address: {{displayedBusiness.address}}</p>
        </div>
      </div>
      <div class="item item-icon-right item-divider employee-title-container">
        <i class="icon ion-ios-people"></i>
        <p>Employees</p>
      </div>
      <div class="image-container item item-stable">
        <img class="employee-image" src='{{displayedEmployee.photo}}'>
      </div>
      <div class="item item-body employee-details item-stable">
        <div>
          <h2>{{displayedEmployee.name}}</h2>
          <p>{{displayedEmployee.description}}</p>
        </div>
        <div class="list-card booking-container" ng-repeat="(id, time) in availableAppointments" ng-click="showConfirm()">
          <i class="icon ion-ios-calendar-outline calendar-icon"></i>
          <span class="booking-time">{{time}}</span>
          <span class="booking-button">Book Now</span>
        </div>
      </div>
    </div>
  </ion-content>
<!--   <ion-content class="padding">
    <p>{{displayedBusiness.business_name}}</p>
    <p>{{displayedEmployee.name}}</p>
  </ion-content> -->
</ion-view>

