<ion-view class="businesses-background" view-title="business">
  <ion-content class="padding">
    <div class="logo-header">
      <img src="/img/chair2.png" height="150" width="150">
    </div>
    <div class="list card">
      <div class="item item-icon-left item-divider item-dark">
        <i class="icon ion-planet"></i>
        {{displayedBusiness.business_name}}
      </div>
      <div class="item item-body item-stable">
        <div>
          <p>{{displayedBusiness.address}}</p>
          <span>{{'Opens at 9am'}}</span><span>{{'Closes at 6pm'}}</span>
        </div>
      </div>
      <div class="item item-icon-left item-divider item-dark">
        <i class="icon ion-ios-people"></i>
        Employees
      </div>
      <div class="item item-body item-stable">
        <div>
          <h2>{{displayedEmployee.name}}</h2>
          <p>{{displayedEmployee.description}}</p>
        </div>
        <div class="list-card" ng-repeat="appt in availableAppointments">
          <span>{{appt.start_time}} <button ion-button ng-click="showConfirm()">Book Now</button></span>
        </div>
      </div>
    </div>
  </ion-content>
<!--   <ion-content class="padding">
    <p>{{displayedBusiness.business_name}}</p>
    <p>{{displayedEmployee.name}}</p>
  </ion-content> -->
</ion-view>

