
  <ion-view class="login-background" view-title="Businesses">
    <ion-content class="padding">
    <div class="logo-header-biz">
      <img src="img/logosimple.jpg" height="225" width="225">
    </div>
      <div ng-show="noBiz()" class="ng-hide no-biz-display">
        <p>We're sorry, there are no open appointments that meet your search criteria.</p>
      </div>
      <div class="list card business-container" ng-repeat="business in displayedBusinesses">
        <div class="item-divider item-dark business-list-title">
          {{business.business_name}}
        </div>

        <div class="item item-body item-stable business-info-container">
          <div>
            <span>{{'Opens at 9am'}}</span><span>{{'Closes at 6pm'}}</span>
            <p>{{business.address}}</p>
            <p class="appointment-button"><a href="#/app/businesses/{{business.id}}">book appointment</a></p>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>

