<ion-view class="main-background" view-title="Search">
  <ion-content class="padding" ng-controller="ScrollCtrl">
  <div class="search-header">
    <p class="search-head-title">Just a few taps away...</p>
  </div>
    <ion-content has-header="true" padding="true">
      <form>
        <div class="search-container padding">
          <div class="range search-box">
            <p class="range-search">Within {{data.miles}} Miles</p>
            <input type="range" min="0" max="10" name="miles" ng-model="data.miles"></inpu>
            <i class="icon ion-speedometer"></i>
          </div>

          <div class="list search-box">
            <label class="item item-input item-select search-item">
              <div class="input-label search-item">
                Service
              </div>
              <select ng-options="item.name as item.name for item in items" ng-model="mySelect" ng-change="showSelectValue(mySelect)">
              </select>
            </label>
          </div>
        </div>
        <button class="button button-block" type="submit" ng-click="findBusinesses()">
          <i class="icon ion-search"></i>
          Get Seated Anywhere
        </button>

        <button class="button button-block" type="submit" ng-click="findBusinessesMap()">
          <i class="icon ion-search"></i>
          Get Seated Near Me
        </button>
      </form>

    </ion-content>
  </ion-content>
</ion-view>
