<ion-modal-view class="main-background">
  <ion-header-bar>
    <h1 class="title">User Profile</h1>
  </ion-header-bar>
  <ion-content>
  <div class="list card user-profile-container">
    <!-- <p>{{user.name}} | {{user.email}} </p> -->
    <h1>Your Appointments</h1>
    <ion-card>

      <div class="item card appointment-container" ng-repeat="appt in appointments">
<!--         <div class="item item-icon-left item-divider business-info"> -->
          <h2>{{appt.business_name}}</h2>
          <p>Date:  {{appt.date}}</p>
          <p>With:  {{appt.employee_name}}</p>
        <!-- </div> -->
    </div>
    </ion-card>
  </ion-content>
</ion-modal-view>
